$topMargin: 25px;
.Hotels {
  font-size: 15px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  @media screen and (min-width: 768px) {
    right: 0;
    font-size: 20px;
    margin: auto;
  }
  @media screen and (min-width: 950px) {
    width: calc(100% - 200px);
  }  
  @media screen and (min-width: 1200px) {
    width: calc(100% - 375px);  
  }
  @media screen and (min-width: 1550px) {
    left: 0;
    width: 800px;
    font-size: 20px;
  }
  .Hotel {
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    border-left: none;
    margin-bottom: 10px;
    margin-top: 10px;
    @media screen and (min-width: 420px) {
      padding: 20px;
      padding-top: $topMargin;
    }
    padding-left: 128px+20px !important;
    position: relative;
    width: 100%;
    height: 128px;
    >label {
      font-size: 115%;
      @media screen and (min-width: 420px) {
        font-size: 100%;
        position: absolute;
        top: 0;
        left: 128px + 10px;
      }
      @media screen and (min-width: 768px) {
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
      }
      font-weight: bold;
    }
    >.Establishment {
      font-weight: bold;
      font-style: italic;
      >.Stars {
        font-style: initial;
        color: gold;
      }
    }
    >.Location {
      text-decoration-line: underline;
      text-decoration-style: dotted;
    }
    >.Price {
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      width: 128px;
      left: 0;
      bottom: 10px;
      @media screen and (min-width: 420px) {
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: none;
        width: initial;
        left: auto;
      }
      text-align: center;
      font-weight: bold;
      font-size: 150%;
      height: 30px;
      &:after {
        position: absolute;
        content: "";
        height: 64px;
        border-left: solid 1px #EEEEEE;
        left: -10px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .Thumbnail {
      position: absolute;
      left: 0;
      top: 0;
      width: 128px;
      height: 128px;
    }
  }
}