@import "toolbar";
@import "hotel";

// Reset styles
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

#app-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  > div {
    width: 100%;
    height: 100%;
  }
}