.CloseToolbar {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.CloseToolbar:not(.ForceShow) {
  visibility: hidden;
}

.Toolbar {
  position: fixed;
  top: 0;
  width: 280px;
  padding: 20px;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  background-color: white;
  @media screen and (max-width: 949px) {
    &:not(.ForceShow) {
      width: 0;
      left: -100%;
    }
    overflow-y: overlay;
  }
  @media screen and (min-width: 950px) {
    position: absolute;
    left: 0;
    width: 200px;
  }
  @media screen and (min-width: 1200px) {
    width: 375px;
  }
  @media screen and (min-width: 1550px) {
    width: calc(50% - 400px);
  }
  &.ForceShow>.OpenToolbar {
    visibility: hidden;
  }
  .OpenToolbar {
    @media screen and (min-width: 950px) {
      visibility: hidden;
    }
    position: fixed;
    bottom: 20px;
    left: 0;
    text-align: center;
    width: 100%;
    >button {
      font-size: 30px;
    }
  }
  >.FilterToolbar,
  .SortByToolbar {
    padding-bottom: 10px;
    border-bottom: 2px dashed #eaeaea;
    >div {
      padding-top: 2px;
      padding-bottom: 2px;
      position: relative;
      width: 100%;
      >label {
        width: 100%;
        text-align: center;
      }
      >span>input {
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
      }
      @media screen and (min-width: 1200px) {
        >span {
          position: absolute;
          right: 0;
          &:not(.Name)>input {
            width: 90px;
          }
        }
        >label {
          position: absolute;
          text-align: left;
          right: auto;
        }
      }
    }
  }
  border-left: 2px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
}